@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Squada+One&display=swap");

.header-image {
  max-height: 250px;
  float: right;
  box-shadow: 10px 10px 10px black;
  border-radius: 15px;
}

header {
  background-color: #518afc;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.75em;
  font-family: "Squada One", cursive;
  max-width: 800px;
  margin: 1.5em auto;
}

footer {
  background-color: #518afc;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  max-width: 800px;
  margin: 1.5em auto;
}

body {
  background-color: slategray;
  font-size: 1.25em;
  font-family: "Raleway", sans-serif;
  max-width: 800px;
  margin: 1.5em auto;
}

h2 {
  border-bottom: solid thin;
}

#modinfo {
  color: black;
}
