.title {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.1rem;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* ul li.checked::before {
    content: "";
    position: absolute;
    border-color: red;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
} */

.header {
    padding: 30px 40px;
    text-align: center;
}

input {
    margin: 0;
    border: 1px solid black;
    border-radius: 15px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.addBtn:hover,
.delete:hover,
.complete:hover {
    cursor: pointer;
}

.delete {
    background-color: #f44336;
    border: none;
    color: white;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-left: 2rem;
}

.complete {
    background-color: green;
    border: none;
    color: white;
    border-radius: 50%;
    display: inline-block;
    float: right;
}

.summary {
    text-align: center;
}

.filter {
    text-align: center;
}

#task {
    width: 50%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}