*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header and Navbar Styles */
.logo-nav {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    padding: 1vmin;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
}

nav ul li a:hover {
    cursor: pointer;
}

.active {
    text-decoration: underline;
}

/* Home Page Styles */
.hero {
    font-family: 'Fredoka', sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10vmin;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* Projects Page */



/* Animations */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}