@media only screen and (min-width: 60em) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  nav a {
    font-size: 1.1rem;
  }

  header,
  nav,
  main {
    margin: 0 auto;
  }

  div.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .gallery-box:hover {
    transform: scale(1.05);
    box-shadow: -2px 2px 25px 0px
  }

  footer {
    margin: 2em 0 0 0;
  }
}
