@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    background-color: #cecece;
    margin: 0;
    padding: 0 5em 0 0 ;
}

.title-page-header {
    color: rgb(43, 41, 41);
    text-align: center;
}

.underline {
    height: 0.5rem;
    width: 35%;
    margin: 0 auto;
    background-color: #FF773D;
    margin-bottom: 2rem;
}

.contents {
    margin: 0 auto;
    padding: 0;
    width: 30%;
    background-color: #e4e4e4;
    box-shadow: 8px 8px 20px #888;
    border-radius: 15px;
    list-style: none;
    color: rgb(240, 240, 240);
}

.contents li {
    padding: 1rem;
    margin-left: 1.75rem;
}

/* Notes Page Formatting */

.notes-page {
    margin-left: 10rem;
}

code {
    background-color: #3c4252;
    color: #fff;
    border: 1px solid #999;
    border-radius: 15px;
    display: block;
    padding: 20px;
    width: 90%;
}

.activities {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    row-gap: 1rem;
}

/* Footer */

footer {
    padding: 5rem;
    text-align: center;
}