@media only screen and (min-width: 49.25em) {
  .title {
    grid-row-start: 2;
  }
  
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
    font-size: 1em;
    align-items: center;
    justify-content: center;
  }

  .navigation li:first-child {
    display: none;
  }

  form label.top input, form label.top select {
    max-width: 20rem;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
