:root {
  --color1: #4c5b61;
  --color2: #3f6675;
  --color3: #0e2933;
  --color4: #16a4e6;
}

body {
  max-width: 100%;
  margin: auto;
}

.header-image {
  width: 380px;
  margin: -125px auto -125px auto;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  justify-items: center;
  padding: 10px;
  background-color: var(--color1);
  font-family: "Krona One", sans-serif;
}

h1 {
  color: #fff;
}

.title {
  color: #fff;
}

header,
nav,
main {
  margin: 0 auto;
}

.navigation {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: var(--color3);
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

.active {
  background-color: var(--color4);
  color: var(--color3);
}

nav ul li a {
  display: block;
  text-align: center;
  justify-items: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  font-family: "Krona One", sans-serif;
}

nav a:hover {
  background-color: var(--color4);
  color: var(--color3);
}

.title div {
  margin: -15px auto 20px auto;
}

.town-name {
  font-family: "Krona One", sans-serif;
  color: var(--color2);
  text-align: center;
  text-decoration: underline 3px var(--color3);
}

.preston-5day {
  display: none;
}

.preston-article {
  font-family: "Jura", sans-serif;
  padding: 0.5em 5em 0.5em 1em;
  border: 2px solid var(--color3);
  margin: 0.75em 2em 0.25em 2em;
  background-color: darkgray;
}

footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 85px;
  margin: 2em 0 0 0;
  background-color: var(--color1);
  color: #fff;
  font-family: "Jura", sans-serif;
  padding-bottom: 3em;
}

.location-map {
  width: 350px;
  height: 200px;
  margin: 1em;
}

.contact-info {
  margin: 1em;
}

.copyright-info {
  margin: 1em;
  grid-area: 2 / 1;
}

.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 87%;
}

.grid {
  display: none;
}

.article-image {
  width: 90%;
  display: block;
  margin: 0 auto;
}