* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #6EA4BF;
    font-family: "Raleway", sans-serif;
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 0.5rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    z-index: 9999;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #6EA4BF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*---------------- Home Page Hero ----------------*/

.hero {
    position: relative;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/rigby-homepage-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    font-family: "Raleway", sans-serif;
    color: rgb(226, 226, 226);
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button {
    background-color: #6EA4BF;
    color: black;
    border: 1px solid #6EA4BF;
    border-radius: 25px;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #fa7d7d;
    border: 1px solid #fa7d7d;
}

/*--------- Weather Section ---------*/

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    font-family: "Quicksand", sans-serif;
}

.current-weather {
    width: 90vw;
    height: 250px;
    border: 1px solid black;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-icon {
    width: 180px;
}

.current-con {
    text-transform: capitalize;
}

.three-day-weather {
    border: 1px solid black;
    width: 90vw;
    text-align: center;
    text-transform: capitalize;
}

.forecast-weather-day {
    padding: 1rem;
}

/*----------- Weather Alert --------*/
.weather-alert {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    height: 3rem;
    width: 95%;
    text-align: center;
    background-color: #f75555;
    padding-bottom: 4rem;
}

.alert-banner {
    display: flex;
    flex-direction: row;
}

.close-alert {
    background-color: #F75555;
    width: 5%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*----------- Chamber Goals ------------------*/

.chamber-goals h2 {
    font-family: "Raleway", sans-serif;
}

/*----------- Business Spotlight -------------*/

.business-spotlight h2 {
    font-family: "Raleway", sans-serif;
}

.business-spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.business-logo {
    width: 300px;
}

.business-motto {
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

/*--------- Upcoming Events ---------*/

.upcoming-events h2 {
    font-family: "Raleway", sans-serif;
}

/*------------- Footer --------------*/

footer {
    background-color: #1A535C;
    color: rgb(226, 226, 226);
    font-family: "Quicksand", sans-serif;
}